html {
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
}

img {
    max-width: 100%;
}

body {
    font-family: 'PT Sans Caption', sans-serif;
    margin: 0;
    padding: 0;
}

/* NAV BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
    margin: 0;
    position: absolute;
    z-index: 3;
    width: 100%;
}

.navbar .logo {
    max-width: 15%;
    margin-left: 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-right: 50px;
    font-size: 16px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar ul li:hover {
    color:rgb(255, 221, 0)
}

/* HEADER */
.header {
    position: relative;
}

.bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cocktailstitle {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: rgb(255, 162, 0);
    text-shadow:1px 1px 30px black, 1px 1px 30px black;
}

.blurb {
    position: absolute;
    top: 40%;
    left: 7.5%;
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: multiply;
    padding: 15px;
    width: 85%;
    text-align: center;
    color: rgb(255, 162, 0);
}

/* MENU BUTTONS */

.menubuttons {
    display: flex;
    position: absolute;
    top: 65%;
    left: 10%;
    z-index: 1;
}

.menubuttons div {
    margin-right:65px;
    font-size: 20px;
}

.menubuttons a {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.menubuttons a:hover {
    background-color: rgb(255, 162, 0);
    color: white;
}

/* ITEMS */
.cocktailsitems {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    column-gap: 50px;
    margin: 3% 5% 3% 5%;
}

.price {
    color: rgb(255, 162, 0);
    font-weight: bold;
}

/* FOOTER */
.footer {
    position: relative;
    width: 100%;
    background-color: black;
    padding: 20px;
    padding-bottom: 7%;
    display: flex;
}

.footerlogo {
    max-width: 15%;
    margin-left: 50px;
    margin-top: 1%;
    margin-right: 0;
}

.site {
    position: absolute;
    margin-left: 50%;
}

.sitetitle {
    color: white;
}

.sitelinks {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 40px;
    grid-template-rows: 2;
    row-gap: 20px;
    color: white;
    font-size: smaller;
}

.sitelinks a {
    color: white;
    text-decoration: none;
}

.social {
    position: absolute;
    display: grid;
    grid-template-columns: 1;
    color: white;
    margin-left: 69%;
}

.fblogo {
    width: 20%;
}

.contact {
    position: absolute;
    margin-left: 80%;
}

.locationtitle {
    color: white;
}

.location {
    display: flex;
    align-items: center;
    color: white;
    font-size: smaller;
}

.location img {
    margin-right: 10px;
    width: 7%;
}

.phonefooter {
    display: flex;
    align-items: center;
    color: white;
    font-size: smaller;
}

.phonefooter img {
    margin-right: 10px;
    width: 7%;
}